.banner-bg{
    background-color: black;
    background-image: url('https://i.ibb.co/NxxJ8RD/banner.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;

}