.pageBanner{
    background-image: url('https://i.ibb.co/6tjmNM6/3d-drone-flying-sunset-sea.png');
    background-repeat: no-repeat;
    background-position: ;
    background-color: black;
    background-size: cover;
    height: 50vh;
}